{
  "env": {
    "build": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "4.8.3"
            },
            "useBuiltIns": "usage",
            "modules": false
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-external-helpers",
        "@babel/plugin-proposal-object-rest-spread"
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "4.8.3"
            },
            "useBuiltIns": "usage"
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread"
      ]
    }
  }
}
